<h1>{{name}} 枚举</h1>
<div class="box meta">
    {{#if uses}}
        <div class="uses">
            使用
            <ul class="inline commas">
                {{#uses}}
                    <li><a href="{{.}}.html">{{.}}</a></li>
                {{/uses}}
            </ul>
        </div>
    {{/if}}

    {{#if extends}}
        <div class="extends">
            继承自 {{#crossLink extends}}{{/crossLink}}
        </div>
    {{/if}}

    {{#if foundAt}}
        <div class="foundat">
            于<a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>定义
        </div>
    {{/if}}

    {{#if module}}
        {{#if submodule}}
            模组: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
            父模组: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{else}}
            模组: {{#crossLinkModule module}}{{/crossLinkModule}}
        {{/if}}
    {{/if}}

    {{#if since}}
        <p>于{{since}}可用</p>
    {{/if}}
</div>

{{#if deprecated}}
    <div class="box deprecated">
        <p>
        {{#if deprecationMessage}}
            <strong>已弃用:</strong> {{deprecationMessage}}
        {{else}}
            该枚举已弃用
        {{/if}}
        </p>
    </div>
{{/if}}

<div class="box intro">
    {{{classDescription}}}
</div>

<!-- Class member index -->

<a name="index" class="anchor-link"></a>
<div class="index">
<h2>索引</h2>

{{>options}}

{{#if properties}}
    <div class="index-section properties">
        <h3>属性(Property)</h3>

        <ul class="index-list properties{{#if extends}} extends{{/if}}">
            {{#properties}}
                <li class="index-item property{{#if access}} {{access}}{{/if}}{{#if deprecated}} 已弃用{{/if}}{{#if overwritten_from}} inherited{{/if}}{{#if extended_from}} inherited{{/if}}">
                    <a href="#property_{{name}}">{{name}}</a>

                    {{#if static}}
                        <span class="flag static">静态</span>
                    {{/if}}
                </li>
            {{/properties}}
        </ul>
    </div>
{{/if}}

{{#if attrs}}
    <div class="index-section attrs">
        <h3>属性(Attribute)</h3>

        <ul class="index-list attrs{{#if extends}} 继承自{{/if}}">
            {{#attrs}}
                <li class="index-item attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} 已弃用{{/if}}{{#if overwritten_from}} 继承自{{/if}}{{#if extended_from}} 继承自{{/if}}">
                    <a href="#attr_{{name}}">{{name}}</a>
                </li>
            {{/attrs}}
        </ul>
    </div>
{{/if}}


{{#if methods}}
    <div class="index-section methods">
        <h3>方法</h3>

        <ul class="index-list methods{{#if extends}} 继承自{{/if}}">

            {{#is_constructor}}
                <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}} constructor">
                    <a href="#method_{{name}}">{{name}}</a>

                    <span class="flag constructor">构造函数</span>

                    {{#if static}}
                        <span class="flag static">静态</span>
                    {{/if}}
                    {{#if deprecated}}
                        <span class="flag deprecated">已弃用</span>
                    {{/if}}
                </li>
            {{/is_constructor}}

            {{#methods}}
                <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} 已弃用{{/if}}{{#if overwritten_from}} 继承自{{/if}}{{#if extended_from}} 继承自{{/if}}">
                    <a href="#method_{{name}}">{{name}}</a>

                    {{#if static}}
                        <span class="flag static">静态</span>
                    {{/if}}
                    {{#if deprecated}}
                        <span class="flag deprecated">已弃用</span>
                    {{/if}}
                </li>
            {{/methods}}
        </ul>
    </div>
{{/if}}

{{#if events}}
        <div class="index-section events">
            <h3>事件</h3>

            <ul class="index-list events{{#if extends}} 继承自{{/if}}">
                {{#events}}
                    <li class="index-item event{{#if access}} {{access}}{{/if}}{{#if deprecated}} 已弃用{{/if}}{{#if overwritten_from}} 继承自{{/if}}{{#if extended_from}} 继承自{{/if}}">
                        <a href="#event_{{name}}">{{name}}</a>
                        {{#if static}}
                            <span class="flag static">静态</span>
                        {{/if}}
                        {{#if deprecated}}
                            <span class="flag deprecated">已弃用</span>
                        {{/if}}
                    </li>
                {{/events}}
            </ul>
        </div>
    {{/if}}
</div>


<div class="class-detail">

{{#if properties}}
    <div class="properties-detail">
        <h2>属性(Property)</h2>

        {{#properties}}
            {{>props}}
        {{/properties}}

        <div class="no-visible-items-message">
            <p>There are no properties that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
        </div>

    </div>
{{/if}}

{{#if attrs}}
    <div class="attrs-detail">
        <h2>属性(Attribute)</h2>

        {{#attrs}}
            {{>attrs}}
        {{/attrs}}
    </div>
{{/if}}

{{#is_constructor}}
    <div class="constructor">
        <h2>构造函数</h2>
        {{>method}}
    </div>
{{/is_constructor}}

{{#if methods}}
    <div class="methods-detail">
        <h2>方法</h2>

        {{#methods}}
            {{>method}}
        {{/methods}}

        <div class="no-visible-items-message">
            <p>There are no methods that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
        </div>

    </div>
{{/if}}

{{#if events}}
    <div class="events-detail">
        <h2>事件</h2>

        {{#events}}
            {{>events}}
        {{/events}}

        <div class="no-visible-items-message">
            <p>There are no events that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
        </div>

    </div>
{{/if}}

</div>

