<h1>{{name}} 模组</h1>
<div class="box clearfix meta">
    {{#extra}}
        {{#selleck}}
            <a class="button link-docs" href="/yui/docs/{{name}}">用户手册及例子</a>
        {{/selleck}}
    {{/extra}}

    {{#if requires}}
        <div class="uses">
            依赖于
            <ul class="inline commas">
                {{#requires}}
                    <li>{{#crossLinkModule .}}{{/crossLinkModule}}</li>
                {{/requires}}
            </ul>
        </div>
    {{/if}}

    {{#if foundAt}}
        <div class="foundat">
            于<a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>定义
        </div>
    {{/if}}

    {{#if since}}
        <p>于{{since}}可用</p>
    {{/if}}
</div>

{{#if deprecated}}
    <div class="box deprecated">
        <p>
        {{#if deprecationMessage}}
            <strong>已弃用:</strong> {{deprecationMessage}}
        {{else}}
            该模组已弃用。
        {{/if}}
        </p>
    </div>
{{/if}}

<div class="box intro">
    {{{moduleDescription}}}
</div>

{{#example}}
    <div class="example">
        <h4>例子:</h4>
        <div class="example-content">
            {{{.}}}
        </div>
    </div>
{{/example}}

<!-- Class member index -->
{{#if moduleClasses}}
<div class="index-section properties">
    <h3>类(Class)</h3>
    <ul class="index-list properties">
        {{#moduleClasses}}
        <li class="index-item">
            <a href="{{../projectRoot}}classes/{{name}}.html">
                {{displayName}}
            </a>
        </li>
        {{/moduleClasses}}
    </ul>
</div>
{{/if}}

{{#if subModules}}
<div class="index-section properties">
    <h3>子模组(Sub-Module)</h3>
    <ul class="index-list properties">
        {{#subModules}}
        <li class="index-item">
            <a href="{{../projectRoot}}modules/{{name}}.html">
                {{displayName}}
            </a>
        </li>
        {{/subModules}}
    </ul>
</div>
{{/if}}

<h3>直属成员(Direct Members)</h3>
{{#moduleItems}}{{> items-index}}{{/moduleItems}}

<div class="yui3-g">

    {{#if moduleItems.properties}}
        <div class="yui3-u-1-2">
            <h3>属性(property)：</h3>
            {{#moduleItems.properties}}{{> props}}{{/moduleItems.properties}}
        </div>
    {{/if}}

    {{#if moduleItems.attrs}}
        <div class="yui3-u-1-2">
            <h3>属性(attribute)：</h3>
            {{#moduleItems.attrs}}{{> attrs}}{{/moduleItems.attrs}}
        </div>
    {{/if}}
    
    {{#if moduleItems.methods}}
        <div class="yui3-u-1-2">
            <h3>方法(method)：</h3>
            {{#moduleItems.methods}}{{> method}}{{/moduleItems.methods}}
        </div>
    {{/if}}

    {{#if moduleItems.events}}
        <div class="yui3-u-1-2">
            <h3>事件(event)：</h3>
            {{#moduleItems.events}}{{> events}}{{/moduleItems.events}}
        </div>
    {{/if}}

</div>
