<div class="index-content">
    <p>{{i18n.INDEX_WELCOME}}</p>
    <h2>{{i18n.INDEX_TITLE}}</h2>
    <ul>
        <li><p>{{{i18n.INDEX_GUIDES_1}}}</p></li>
        <li><p>{{{i18n.INDEX_GUIDES_2}}}</p></li>
        <li class="mac-only"><p>{{{i18n.INDEX_GUIDES_3}}}</p></li>
        <li class="pc-only"><p>{{{i18n.INDEX_GUIDES_4}}}</p></li>
    </ul>
</div>