

<a name="index" class="anchor-link"></a>
<div class="index">
    <h2>Index</h2>
    {{>options}}

{{#if members.properties}}
<div class="index-section properties">
    <h3>Property</h3>
    <ul class="index-list properties">
        {{#members.properties}}
        <li class="index-item property{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}">
            <a href="#property_{{name}}">{{name}}</a>
            {{#if static}}
                <span class="flag static">静态</span>
            {{/if}}
        </li>
        {{/members.properties}}
    </ul>
</div>
{{/if}}

{{#if members.attributes}}
<div class="index-section attrs">
    <h3>Attribute</h3>
    <ul class="index-list attrs">
        {{#members.attributes}}
        <li class="index-item attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}">
            <a href="#attr_{{name}}">{{name}}</a>
        </li>
        {{/members.attributes}}
    </ul>
</div>
{{/if}}

{{#if members.methods}}
<div class="index-section methods">
    <h3>Method</h3>
    <ul class="index-list methods">
        {{#is_constructor}}
        <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}} constructor">
            <a href="#method_{{name}}">{{name}}</a>
            <span class="flag constructor">constructor</span>
            {{#if static}}
                <span class="flag static">static</span>
            {{/if}}
            {{#if deprecated}}
                <span class="flag deprecated">deprecated</span>
            {{/if}}
        </li>
        {{/is_constructor}}

        {{#members.methods}}
        <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}">
            <a href="#method_{{name}}">{{name}}</a>
            {{#if static}}
                <span class="flag static">static</span>
            {{/if}}
            {{#if deprecated}}
                <span class="flag deprecated">deprecated</span>
            {{/if}}
        </li>
        {{/members.methods}}
    </ul>
</div>
{{/if}}

{{#if members.events}}
<div class="index-section events">
    <h3>Event</h3>
    <ul class="index-list events">
        {{#members.events}}
        <li class="index-item event{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if overwritten_from}} inherited{{/if}}">
            <a href="#event_{{name}}">{{name}}</a>
            {{#if static}}
                <span class="flag static">static</span>
            {{/if}}
            {{#if deprecated}}
                <span class="flag deprecated">deprecated</span>
            {{/if}}
        </li>
        {{/members.events}}
    </ul>
</div>
{{/if}}

{{#if extends}}
    <div class="index-section inherits-members">
        <h3>Inherited Members</h3>
        
        <h4>Property</h4>
        <ul class="index-list properties">
        {{#members.inherited.properties}}
            <li class="index-item property{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}">
                <a href="{{extended_from}}.html#property_{{name}}">{{name}}</a>
            </li>
        {{/members.inherited.properties}}
        </ul>
        
        <h4>Attribute</h4>
        <ul class="index-list attrs">
        {{#members.inherited.attrs}}
            <li class="index-item attr{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}">
                <a href="{{extended_from}}.html#attr_{{name}}">{{name}}</a>
            </li>
        {{/members.inherited.attrs}}
        </ul>

        <h4>Method</h4>
        <ul class="index-list methods">
        {{#members.inherited.methods}}
            <li class="index-item method{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}">
                <a href="{{extended_from}}.html#method_{{name}}">{{name}}</a>
            </li>
        {{/members.inherited.methods}}
        </ul>

        <h4>Event</h4>
        <ul class="index-list events">
        {{#members.inherited.events}}
            <li class="index-item event{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}">
                <a href="{{extended_from}}.html#event_{{name}}">{{name}}</a>
            </li>
        {{/members.inherited.events}}
        </ul>

    </div>
{{/if}}

{{#if inheritance}}
    <div class="index-section inherits-tree">
        <h3>Inheritance Tree</h3>
        {{> class-tree}}
    </div>
{{/if}}

</div>