<h1>{{name}} Module</h1>
<div class="box clearfix meta">
    {{#extra}}
        {{#selleck}}
            <a class="button link-docs" href="/yui/docs/{{name}}">User Guide &amp; Examples</a>
        {{/selleck}}
    {{/extra}}

    {{#if requires}}
        <div class="uses">
            Requires
            <ul class="inline commas">
                {{#requires}}
                    <li>{{#crossLinkModule .}}{{/crossLinkModule}}</li>
                {{/requires}}
            </ul>
        </div>
    {{/if}}

    {{#if foundAt}}
        <div class="foundat">
            Defined in: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
        </div>
    {{/if}}

    {{#if since}}
        <p>Available since {{since}}</p>
    {{/if}}
</div>

{{#if deprecated}}
    <div class="box deprecated">
        <p>
        {{#if deprecationMessage}}
            <strong>Deprecated:</strong> {{deprecationMessage}}
        {{else}}
            This module is deprecated.
        {{/if}}
        </p>
    </div>
{{/if}}

<div class="box intro">
    {{{moduleDescription}}}
</div>

{{#example}}
    <div class="example">
        <h4>Example:</h4>
        <div class="example-content">
            {{{.}}}
        </div>
    </div>
{{/example}}

<!-- Class member index -->
{{#if moduleClasses}}
<div class="index-section properties">
    <h3>Class</h3>
    <ul class="index-list properties">
        {{#moduleClasses}}
        <li class="index-item">
            <a href="{{../projectRoot}}classes/{{name}}.html">
                {{displayName}}
            </a>
        </li>
        {{/moduleClasses}}
    </ul>
</div>
{{/if}}

{{#if subModules}}
<div class="index-section properties">
    <h3>Sub-Module</h3>
    <ul class="index-list properties">
        {{#subModules}}
        <li class="index-item">
            <a href="{{../projectRoot}}modules/{{name}}.html">
                {{displayName}}
            </a>
        </li>
        {{/subModules}}
    </ul>
</div>
{{/if}}

<h3>Direct Members</h3>
{{#moduleItems}}{{> items-index}}{{/moduleItems}}

<div class="yui3-g">

    {{#if moduleItems.properties}}
        <div class="yui3-u-1-2">
            <h3>Properties:</h3>
            {{#moduleItems.properties}}{{> props}}{{/moduleItems.properties}}
        </div>
    {{/if}}

    {{#if moduleItems.attrs}}
        <div class="yui3-u-1-2">
            <h3>Attributes:</h3>
            {{#moduleItems.attrs}}{{> attrs}}{{/moduleItems.attrs}}
        </div>
    {{/if}}
    
    {{#if moduleItems.methods}}
        <div class="yui3-u-1-2">
            <h3>Methods:</h3>
            {{#moduleItems.methods}}{{> method}}{{/moduleItems.methods}}
        </div>
    {{/if}}

    {{#if moduleItems.events}}
        <div class="yui3-u-1-2">
            <h3>Events:</h3>
            {{#moduleItems.events}}{{> method}}{{/moduleItems.events}}
        </div>
    {{/if}}

</div>
