<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{htmlTitle}}</title>
  <link rel="stylesheet" href="{{assets}}/vendor/prettify/prettify-min.css">
  <link rel="stylesheet" href="{{assets}}/css/main.css" id="site_styles">
  <link rel="shortcut icon" type="image/ico" href="{{assets}}/favicon.ico">
  <link rel="stylesheet" href="{{assets}}/css/solarized_light.css">
  <script src="{{assets}}/vendor/yui-min.js"></script>
</head>
<body>

<div id="doc">
  <header class="main-header">
    <div class="content">
      <div class="project-title">
        {{#if globals.project.logo}}
        <a href="{{globals.project.logo.url}}">
          <img class="logo" src="{{globals.project.logo.img}}" title="{{globals.project.description}}">
        </a>
        {{else}}
        <a href="http://cocos.com/creator">
          <img class="logo" src="{{assets}}/img/logo.png" title="Cocos Creator API">
        </a>
        {{/if}}
        {{#if globals.project.name}}
          <h1 class="project-name">{{globals.project.name}}</h1>
          {{#if globals.project.version}}
          <span class="project-version">{{globals.project.version}}</span>
          {{/if}}
        {{else}}
          <h1 class="project-name">Cocos Creator Engine API</h1>
        {{/if}}
        {{#if globals.project.description}}
          <p class="description">{{globals.project.description}}</p>
        {{else}}
          <p class="description">Cocos Creator is the game engine for the future.</p>
        {{/if}}
        </div>
        <ul class="header-navigation">
          <li><a href="{{@root.base}}/index.html" class="">Index</a></li>
          <li><a href="{{@root.base}}/../index.html">Manual</a></li>
          <li><a href="#top-anchor">Top</a></li>
        </ul>
    </div>
  </header>
  <div id="bd" class="main-body">
    <div id="docs-sidebar" class="sidebar apidocs">{{>sidebar}}</div>
    <div id="docs-main" class="apidocs">
      <div id="top-anchor"></div>
      <div class="content container">{{>layout_content}}</div>
    </div>
  </div>
</div>
<script src="{{assets}}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="{{assets}}/vendor/jquery.min.js"></script>
<script src="{{assets}}/vendor/jquery-scrollto.js"></script>
<script src="{{assets}}/vendor/highlight.min.js"></script>
<script src="{{assets}}/js/yui-prettify.js"></script>
<script src="{{assets}}/../api.js"></script>
<script src="{{assets}}/js/api-list.js"></script>
{{!-- <script src="{{assets}}/js/apidocs.js"></script> --}}
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
