
<h1>
  <span class="type">{{i18n.ClASS}}</span>
  <span class="name">{{name}}</span>
</h1>

<div class="box meta">
  {{#if uses}}
    <div class="uses">
      Uses
      <ul class="inline commas">
        {{#uses}}
          <li><a href="{{.}}.html">{{.}}</a></li>
        {{/uses}}
      </ul>
    </div>
  {{/if}}

  {{#if extends}}
  {{#shouldShowInherit extends}}
    <div class="extends">
      {{@root.i18n.EXTENDS_FOR}} {{#crossLink ../extends}}{{/crossLink}}
    </div>
  {{/shouldShowInherit}}
  {{/if}}

  {{#if foundAt}}
    <div class="foundat">
      {{i18n.DEFINED_IN}}: <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
    </div>
  {{/if}}

  {{#if process}}
    <div class="processRun">
      process:
      {{#process}}
        <a href="http://docs.fireball-x.com/editor/ipc-channel/#Core_and_Page_Process">{{.}}</a>
      {{/process}}
    </div>
  {{/if}}

  {{#if module}}
    {{#if submodule}}
      {{i18n.MODULE}}: {{#crossLinkModule submodule}}{{/crossLinkModule}}<br>
      {{i18n.PARENT_MODULE}}: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{else}}
      {{i18n.MODULE}}: {{#crossLinkModule module}}{{/crossLinkModule}}
    {{/if}}
  {{/if}}

  {{#if since}}
    <p>{{i18n.AVAILABLE_SINCE}} {{since}}</p>
  {{/if}}

</div>

{{#if deprecated}}
  <div class="box deprecated">
    <p>
      {{#if deprecationMessage}}
        <strong>{{i18n.DEPRECATED}}:</strong> {{deprecationMessage}}
      {{else}}
        {{i18n.DEPRECATED_DESC}}
      {{/if}}
    </p>
  </div>
{{/if}}

<div class="box intro">
  {{{description}}}
</div>

{{#example}}
  <div class="example">
    <h4>{{../i18n.EXAMPLES}}:</h4>
    <div class="example-content">
      {{{.}}}
    </div>
  </div>
{{/example}}

<!-- Class member index -->

<div class="class-detail">

  {{#if members.properties}}
    <div class="properties-detail">
      <h3 class="section-title">{{i18n.PROPERTIES}}</h3>
      {{#members.properties}}{{>props}}{{/members.properties}}
      <div class="no-visible-items-message">
        <p>There are no properties that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
      </div>
    </div>
  {{/if}}

  {{#if members.attributes}}
    <div class="attrs-detail">
      <h3  class="section-title">{{i18n.ATTRIBUTES}}</h3>
      {{#members.attributes}}{{> attrs}}{{/members.attributes}}
    </div>
  {{/if}}

  {{#if is_constructor}}
    <div class="constructor"><h3 class="section-title">{{i18n.CONSTRUCTOR}}</h3>{{>method}}</div>
  {{/if}}

  {{#if members.methods}}
    <div class="methods-detail">
      <h3 class="section-title">{{i18n.METHODS}}</h3>
      {{#members.methods}}{{> method}}{{/members.methods}}
      <div class="no-visible-items-message">
        <p>There are no methods that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
      </div>
    </div>
  {{/if}}

  {{#if members.events}}
    <div class="events-detail">
      <h3 class="section-title">{{i18n.EVENTS}}</h3>
      {{#members.events}}{{> events}}{{/members.events}}
      <div class="no-visible-items-message">
        <p>There are no events that match your current filter settings. You can change your filter settings in the index section on this page. <a href="#index" class="index-jump-link">index</a></p>
      </div>
    </div>
  {{/if}}

</div>
