<a name="property_{{name}}" class="anchor-link"></a>
<div class="property item{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if extendedFrom}} inherited{{/if}}">
    <h3 class="name">{{name}}
    <span class="type">{{#crossLink type}}{{/crossLink}}</span>
    {{#if foundAt}}
    <a class="foundat" href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
    {{/if}}

    {{#if deprecated}}
        <i class="badge badge-deprecated" title="{{deprecationMessage}}">
            deprecated
        </i>
    {{/if}}

    {{#if access}}
        <i class="badge badge-access">{{access}}</i>
    {{/if}}

    {{#if final}}
        <i class="badge badge-final">final</i>
    {{/if}}

    {{#if static}}
        <i class="badge badge-static">static</i>
    {{/if}}

    </h3>

    <div class="meta">
        {{#if overwritten_from}}
            <p>{{i18n.INHERITED_FROM}}
            <a href="{{crossLinkRaw overwritten_from/class}}#property_{{overwritten_from/name}}" class="type">
                {{overwritten_from/class}}
            </a>
            {{#if foundAt}}
            but overwritten in
            {{/if}}
        {{else}}
            {{#if extendedFrom}}
            {{#shouldShowInherit extendedFrom}}
                <p>{{@root.i18n.INHERITED_FROM}}
                <a href="{{crossLinkRaw ../extendedFrom}}#property_{{name}}" class="type">{{../extendedFrom}}</a>:
            {{/shouldShowInherit}}
            {{!-- {{else}} --}}
                <!-- {{#providedBy}}
                    <p>Provided by the <a href="../modules/{{.}}.html" class="module-name">{{.}}</a> module.</p>
                {{/providedBy}} -->
                <!-- <p> -->
                <!-- {{#if foundAt}}
                Defined in
                {{/if}} -->
            {{/if}}
        {{/if}}
        </p>

        {{#if deprecationMessage}}
            <p class="deprecated">{{i18n.DEPRECATED}}: <span class="message">{{deprecationMessage}}</span></p>
        {{/if}}

        {{#if since}}
            <p class="since">{{i18n.AVAILABLE_SINCE}} <span class="message">{{since}}</span></p>
        {{/if}}
    </div>

    <div class="extended-detail">
        <div class="description">{{{description}}}</div>

        {{#if default}}
            <p class="default"><strong>{{i18n.DEFAULTS}}:</strong> <span class="default-value">{{default}}</span></p>
        {{/if}}

        {{#example}}
            <div class="example">
                <h4>{{../i18n.EXAMPLES}}:</h4>
                <div class="example-content">
                    {{{.}}}
                </div>
            </div>
        {{/example}}

        {{#if subprops}}
            <h4>{{i18n.SUB_PROPERTIES}}:</h4>

            <ul class="params-list">
                {{#subprops}}
                <li class="param">
                    {{#if optional}}
                        <code class="param-name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
                        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                        <span class="flag optional" title="This property is optional.">optional</span>
                    {{else}}
                        <code class="param-name">{{name}}</code>
                        <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                    {{/if}}

                    <div class="param-description">{{{description}}}</div>

                    {{#if subprops}}
                        <ul class="params-list">
                            {{#subprops}}
                            <li class="param">
                                {{#if optional}}
                                    <code class="param-name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
                                    <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                    <span class="flag optional" title="This property is optional.">optional</span>
                                {{else}}
                                    <code class="param-name">{{name}}</code>
                                    <span class="type">{{#crossLink type}}{{/crossLink}}</span>
                                {{/if}}
                                <div class="param-description">{{{description}}}</div>
                            </li>
                            {{/subprops}}
                        </ul>
                    {{/if}}
                </li>
                {{/subprops}}
            </ul>
        {{/if}}
    </div>
</div>
