{{#if members}}

  {{#if members.properties}}
    <h3>{{i18n.sidebar.PROPERTIES}}</h3>
    <ul class="apis members api-members">
      {{#members.properties}}
        <li class="{{access}}">
          <a class="name" href="{{@root.base}}/{{parent.type}}/{{#if ../classname}}{{../classname}}{{else}}{{parent.name}}{{/if}}.html#property_{{name}}">
            {{name}}
          </a>
        </li>
      {{/members.properties}}
    </ul>
  {{/if}}

  {{#if members.events}}
    <h3>{{i18n.sidebar.EVENTS}}</h3>
    <ul class="apis members api-members">
      {{#members.events}}
        <li class="{{access}}">
          <a class="name" href="{{@root/base}}/{{parent.type}}/{{#if ../classname}}{{../classname}}{{else}}{{parent.name}}{{/if}}.html#event_{{name}}">
            {{name}}
          </a>
        </li>
      {{/members.events}}
    </ul>
  {{/if}}

  {{#if members.attributes}}
    <h3>{{i18n.sidebar.ATTRIBUTES}}</h3>
    <ul class="apis members api-members">
      {{#members.attributes}}
        <li class="{{access}}">
          <a class="name" href="{{@root/base}}/{{parent.type}}/{{#if ../classname}}{{../classname}}{{else}}{{parent.name}}{{/if}}.html#attr_{{name}}">
            {{name}}
          </a>
        </li>
      {{/members.attributes}}
    </ul>
  {{/if}}

  {{#if members.methods}}
    <h3>{{i18n.sidebar.METHODS}}</h3>
    <ul class="apis members api-members">
      {{#members.methods}}
        <li class="{{access}}">
          <a class="name" href="{{@root/base}}/{{parent.type}}/{{#if ../classname}}{{../classname}}{{else}}{{parent.name}}{{/if}}.html#method_{{name}}">
            {{name}}
          </a>
        </li>
      {{/members.methods}}
    </ul>
  {{/if}}

{{/if}}
